body {width: 100%; height: 100%; margin: 0 auto; font-family: 'Lato', sans-serif}

nav a, footer a, nav a:visited, footer a:visited, nav a:active, footer a:active {margin: auto 1em; color: white; text-decoration: none;}
nav a:hover, footer a:hover {color: #76C5F9;}

nav {height: 4rem; width: 100%; background-color: #222; 
	display: flex; align-items: center; justify-content: space-between;}
nav .nav-logo {height: 3em;}
footer {background-color: #222; display: flex; flex-wrap: wrap; color: white;}
footer .nav-logo {height: 6em; margin: 30px;}
nav p {width: 100%; text-align: right; margin: auto; margin-right: 5%;}

footer p {margin: 0 auto; padding: 30px 0px;}
footer .description {width: 40%; text-align: justify; font-size: 11px;}

header {background: linear-gradient(to top left, #4357AD, #6665DD, #76C5F9); 
    height: 41em; 
	display: flex; align-items: center; justify-content: center; flex-direction: column; 
	border-bottom: 2px solid rgba(0,0,0,0.1); z-index: 0;}
header p {color: #76C5F9; font-size: 15px;}
#logo-principal {height: 15em;}

.btn-jouer {
	padding: 10px 50px;
	font-family: 'Arial Black';
	font-weight: bold;
	font-size: 35px;
	text-transform: uppercase;
	border-radius: 10px;
	background-color: #fff;
	color: #4357AD;
	border:none;
	box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}

.btn-download {
	padding: 15px;
	width: 340px;
	font-family: 'Arial Black';
	font-weight: bold;
	font-size: 20px;
	text-transform: uppercase;
	border-radius: 10px;
	background-color: #fff;
	color: black;
	border:none;
	box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}

.btn-jouer:hover, .btn-download:hover {background-color: #4357AD; color: white; transition: 0.2s; }

section {
	height: auto;
	text-align: center;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding: 0px 20px 20px 20px;
}

section#download, section#but {
	height: 12rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#niveaux {display: flex; flex-direction: row; flex-wrap: auto; justify-content: space-evenly; align-items: center;}
section#introduction img {
	width: 25%; height: 25%;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
	margin: 5px 0px;
}


section h2 {
	font-family: 'Arial';
	font-weight: bold;
	font-size: 24px;
	text-align: center;
}

section h1 {font-size: 40px; font-family: 'Arial'; font-weight: bolder}


iframe {width: 560px; height: 315px; margin: 15px auto; box-shadow: 0px 0px 25px rgba(0,0,0,0.7)}

@media screen and (max-width:769px) {

  nav .nav-logo {height: 2.5em;}
  footer .nav-logo {height: 4em;}
  footer .description {width: 60%;}

  #logo-principal {height: 15em;}
  .btn-jouer {font-size: 35px;}

  #niveaux {flex-direction: column;}
  section#introduction img {width: 70%;}

  iframe {width: 340px; height: 191px;}
}